{% extends 'base.html' %}

{% block title%}首页{% endblock %}

{% block main %}
  <ul>
      <li>
          <div class="avater-group">
              <img src="" alt="" class="avatar">
          </div>
          <div class="question-group">
              <p class="question-title">Python学堂</p>
              <p class="question-content">地产圈、娱乐圈、体育圈、文学圈、行走圈、IT圈、财富圈、教育圈、最新文章、最新博客、top100、博客排行、专栏、热点博客</p>
              <div class="question-info">
                  <span class="question-author">课堂</span>
                  <span class="question-time">2017-04-02 22:36:43</span>
              </div>
          </div>
      </li>
  </ul>
{% endblock %}